#root {
  text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    gap: 30px;
    margin-left: 0;
    width: 100%;
}

li {
  list-style: none;
}
