#root {
  text-align: center;
}

section {
  width: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}


.container ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
 
  gap: 15px;
}

.btn-mode {
  margin-left: auto;
}


a {
  text-decoration: none;
  padding: 5px 10px;
}






